.events{   
    height:auto;
    width:80%;
    margin:auto;
    text-align: center;
}
.event{
    display: flex;
    justify-content:center;
    width:60%;
    height: auto;
    margin:10px auto;
    text-align: center;
}
.events-home{
   
    height: auto;
    border:1px solid black;
    box-sizing: border-box;
    width:40%;
}
.events-away{
   
    height: auto;
    border:1px solid black;
    box-sizing: border-box;
    width:40%;
}
span{
    border: 1px solid black;
}
.div-details{
    height: auto;
    display: flex;
    width:45%;
    padding:0 5px;
    box-sizing: border-box;
}
.span-type{
width:20%;
}
.div-players{
width:70%;
height: auto;
display: block;
}
.label-player{
width:100%;
}
.label-assist{
width:100%;
}
.span-time{
width:10%;
}
.div-empty{
    width:45%;
}
.label-empty{
width:100%;
}