.events{
    /* display: flex;
    justify-content:center; */
    height:auto;
    width:80%;
    margin:auto;
}
.event{
    width:55%;
    height: auto;
    
}
.events-home{
   
    height: auto;
    border:1px solid black;
    box-sizing: border-box;
    width:40%;
}
.events-away{
   
    height: auto;
    border:1px solid black;
    box-sizing: border-box;
    width:40%;
}
span{
    border: 1px solid black;
}