.pitch{
    background-image:url('/src/images/football_pitch.jpg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width:50%; 
    height: 600px;   
    margin:auto; 
    display:flex;
    flex-direction: column;   
    align-content: space-between;    
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: 20% 0;
}