.pitch{
    background-image:url('/src/images/football_pitch.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:50%; 
    height: 600px;   
    margin:auto; 
    display:flex;
    flex-direction: column;   
    align-content: space-between;    
}
.line{
    position:relative;
    display: flex;
    justify-content: space-evenly;  
    height: 20%;  
    flex-wrap: wrap;  
}
.line div{
    min-width: 0;
}
.line span{
    border: none;
}
.player-card{
    position: relative;
    display: block;
    width:20%;
    text-align: center;
}
.player-name{
    position: relative;
    top:-15%;
    margin:auto;  
    border-radius: 10px;  
    text-align: center;
    background-color: white;
}
.player-number{
    position: relative;
    border-radius: 50%;
    top:-15%;
    background-color: white;
    width:25%;
    margin-left: 10%;
    text-align: center;
    border-color: black;
}
.player-rating{
    position: relative;
    border-radius: 50%;
    top:10%;
    background-color: white;
    width:25%;
    margin-left: 10%;
    text-align: center;
}
.goalkeeper{
  
    height: 20%;
    /* padding:10% 0;     */
    text-align: center;;
}
.goalkeeper div{
    margin-top: 5%;
}
.player-photo{
    width:50px;
    height: 50px;
    border-radius: 50%;
}